/*
Fonts:
Montserrat
Roboto
Kaushan Script

font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;

*/
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  /* background-image: linear-gradient(
      to bottom,
      rgba(232, 135, 131, 0.9),
      rgba(242, 218, 138, 0.9)
    ),
    url(images/eagleimg.jpg); */
  background: url(images/header1.jpg);
  background-repeat: no-repeat;
  /* background-position: -2rem -9rem 0rem 0rem; */
  width: 100vw;
  height: 100vh;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

/* General Reusable Components */

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.titles {
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Kaushan Script", cursive;
  font-size: 3rem;
  margin-top: 8rem;
  color: #333;
}

.title-p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  letter-spacing: -1px;
  text-align: center;
  line-height: 1;
  color: #333;
}

.p-text {
  margin-top: 6rem;
  width: 65%;
  text-align: center;
  color: #999;
  font-size: 1.4rem;
  font-weight: 600;
}

/* Header */

.header {
  font-family: "Montserrat", sans-serif;
  justify-content: space-between;
  padding: 5rem 25rem;
  align-items: baseline;
}

.logo {
  text-decoration: none;
  font-weight: 900;
  color: #fff;
  font-size: 3rem;
}

.main-nav {
  font-weight: 400;
  font-size: 1.5rem;
}

.main-nav-list {
  color: #fff;
  gap: 2.6rem;
  list-style: none;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: #fff;
  border: 3px solid transparent;
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
}

/* Hero section */

.section-hero {
  color: #fff;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-family: "Kaushan Script", cursive;
  font-size: 6rem;
  margin-top: 8rem;
}

.hero-title-p {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 15rem;
  letter-spacing: -5px;
  width: 75%;
  text-align: center;
  line-height: 1;
  margin-top: 6rem;
}

.line-1 {
  height: 3px;
  width: 6rem;
  background: #fff;
}

/* buttons */

.btn {
  display: inline-block;
  background-color: transparent;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 5rem;
}

.btn--outline {
  border: 2px solid #fff;
  color: #fff;
}

.btn--outline:hover,
.btn--outline:active {
  box-shadow: inset 0 0 0 3px #fce38a;
}

.slider {
  font-family: "Montserrat", sans-serif;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  margin-top: 6rem;
  margin-bottom: 5rem;
}

.slider-number {
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: 700;
}

.slider-title {
  font-size: 2rem;
  font-weight: 500;
}
.bar {
  height: 3px;
  width: 15rem;
  background-color: #fff;
  height: 4px;
  width: 100%;
  animation: grow 10s linear infinite;
  transform-origin: left;
}

.options {
  margin-top: 2rem;
}

/* ABOUT US */

.about-us {
  background-color: #fff;
  align-items: center;
}

.line-2 {
  height: 3px;
  width: 6rem;
  background: #f38181;
  margin-top: 5rem;
}

.about-us-imgs {
  display: flex;
  flex-direction: row;
  gap: 6rem;
  margin-top: 10rem;
}

.about-img {
  display: inline-block;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  overflow: hidden;
  transition: all 0.4s;
}

.about-img:hover {
  transform: translateY(-1.2rem);
  box-shadow: 3rem 3.2rem 6.4rem #95e1d3;
}

.img-text {
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  opacity: 0;
}

.about-container {
  position: relative;
  cursor: pointer;
  transition: 0.5s all;
}

/* .about-container:hover {
  transform: translateY(-1.2rem);
  box-shadow: 3rem 3.2rem 6.4rem #95e1d3;
} */

/* statistics */

.wraper {
  text-align: center;
  width: 96%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2%;
}

#statistics {
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-top: 9rem;
  height: 15rem;
  background: #95e1d3;
  overflow: hidden;
}

#statistics h3 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

#statistics p {
  margin-bottom: 0;
  color: #fff;
  text-transform: uppercase;
}

#statistics .wraper {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  padding-left: 1px;
  padding-right: 1px;
}

.stat-item {
  background: #95e1d3;
  width: 19.8%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.stat-item h3,
.stat-item p {
  flex: 100%;
  max-width: 100%;
}

/* work with section */

/* .work-with {
} */
.services {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5rem;
  column-gap: 1rem;
  justify-items: center;
  align-items: center;
}
.service {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}
.service-icon {
  color: #95e1d3;
  font-size: 3rem;
  justify-self: center;
  /* align-self: center; */
}
.service-title {
  color: #333;
  font-family: "Montserrat", sans-serif;
  align-self: center;
  align-self: center;
  justify-self: start;
}
.service-p {
  color: #b3b3b3;
  font-family: "Montserrat", sans-serif;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: start;
}

/* unique-design */

.unique-design {
  position: relative;
}
.devices {
  margin-top: 15rem;
  background-image: url(images/nature.jpg);
  background-repeat: no-repeat;
  /* background-size: cover; */
}

.device-ipad {
  margin-top: 5rem;
}

.device-iphone {
  position: absolute;
  top: 55%;
  left: 58%;
}

.what-we-do {
  margin-top: 5rem;
}

.what-p {
  color: #b3b3b3;
  font-family: "Montserrat", sans-serif;
  margin-top: 6rem;
  width: 65%;
  text-align: center;
  color: #999;
  font-size: 1.4rem;
  font-weight: 600;
}
/* ACCORDION */

.accordion {
  width: 70rem;
  margin: 0 auto;
  position: relative;
}

.accordion-icon {
  color: #95e1d3;
  font-size: 3rem;
}
.accordion-title {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  /* justify-content: center; */
  align-items: center;
  border: 1px solid #ccc;
  padding: 1rem;
}
/* .accordion-icon {
} */
.accordion-t {
  font-size: 1.4rem;
  color: #333;
  font-weight: 600;
}
.accordion-p {
  padding: 1rem;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  color: #9f9f9f;
  border: 1px solid #ccc;
  display: none;
}
.accordion-btns {
  border: none;
  background-color: #fff;
  /* margin-left: auto; */
  position: absolute;
  top: 1rem;
  left: 90%;
}
.accordion-arrow {
  color: #ccc;
  font-size: 3rem;
}

.accordion.active .accordion-p {
  display: block;
}

.acc-toggle {
  cursor: pointer;
}
.acc.acc-toggle {
  outline: 0;
}

.acc-toggle .arrow-up {
  display: none;
}

.accordion.active .acc-toggle .arrow-up {
  display: block;
}
.accordion.active .acc-toggle .arrow-down {
  display: none;
}

.grid-2--col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  /* justify-items: center; */
  margin-top: 5rem;
  align-items: start;
}
.what-img {
  justify-self: end;
}

.what-acc {
  justify-self: start;
}

/* STICY NAV */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 6rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgb(232, 135, 131, 0.5);
  z-index: 999;
}
.section-hero .sticky {
  margin-top: 9.6rem;
}

/* First Slider */

.first-slider,
.second-slider {
  background-color: #f8f8f8;
  /* max-width: 1000rem; */
  height: 30rem;
  margin: 0 auto;
  /* IN THE END */
  overflow: hidden;
  /* grid-column: 1 / span 3; */
  margin-top: 15rem;
  position: relative;
}

.slider {
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  /* height: 50rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* THIS creates the animation! */
  transition: transform 1s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.random-quote {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.6fr;
  padding: 3rem;
  justify-items: center;
  row-gap: 0;
  column-gap: 2rem;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.random-quote__img {
  justify-self: end;
  grid-row: 1 / span 3;
  align-self: center;
}

.random-quote__text {
  font-size: 1.7rem;
  /* margin-bottom: 3.5rem; */
  color: #666;
  margin-right: 5rem;
  margin-top: 6rem;
}

.random-quote__author {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: self-start;
}

.random-quote__name {
  font-size: 2rem;
  color: #666;
  align-self: flex-start;
  justify-self: center;
  margin: 4rem;
}

.qoute-author {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
/* our team section */
.our-team {
  gap: 2rem;
}

.team-member > img {
  margin-top: 5rem;
  width: 40vh;
  height: 90%;
}

.team-member {
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 0.5rem;
}

.member {
  color: #333;
  font-size: 1.5rem;
  font-weight: 600;
}
.possition {
  color: #666;
}

.logo-section {
  background-color: #f8f8f8;
  margin-top: 15rem;
  justify-content: center;
}

/* gallery */

.gallery {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 0;
  column-gap: 0;
}
.gallery-item {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

.n-3 {
  grid-column: 3 / 4;
  grid-row: 1 / span 3;
}

.second-slider {
  background-color: #fff;
}
/* testimonials */
.section-testimonials {
  margin-top: 15rem;
  background-image: url(images/nature1.jpg);
  background-repeat: no-repeat;
}
.testimonials {
  margin: 0 auto;
  margin-top: 5rem;
  max-width: 110rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10rem;
  column-gap: 5rem;
}
.testimonial {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0rem;
}

.testimonial-img {
  grid-column: 1 / 2;
  grid-row: 1 / span 4;
  justify-self: center;
}
.testimonial-name {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #333;
}
.testimonial-prof {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #4c4c4c;
}
.grid-line {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  align-self: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.testimonial-text {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  font-size: 1.2rem;
  color: #999;
}

/* our stories section */

.blogs {
  gap: 2rem;
  margin-top: 5rem;
}
.blog {
}
.blog-img {
  position: relative;
}
.date {
  width: 5rem;
  position: absolute;
}
.blog-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #666;
  margin-top: 2rem;
}

.blog-txt {
  font-size: 1.5rem;
  color: #666;
  margin-top: 2rem;
}

.page-view {
  margin-top: 2rem;
  border-top: 1px solid #b3b3b3;
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.view-icon {
  color: #95e1d3;
  font-size: 2rem;
}
.view-numb {
  font-size: 1.5rem;
  color: #b3b3b3;
}

.section-map {
  margin-top: 15rem;
  background-image: url(images/nature2.jpg);
  background-repeat: no-repeat;
}
.map {
  height: 15rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.map-icon {
  font-size: 4rem;
  color: #f38181;
}
.map-title {
  font-size: 2rem;
  color: #f38181;
  font-weight: 900;
}
.map-line {
  height: 3px;
  width: 6rem;
  background: #f38181;
}
/* FOOTER */

.footer-section {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  column-gap: 2rem;
  margin-top: 5rem;
}
.footer-logo {
  font-size: 5rem;
  font-weight: 900;
  color: #9f9f9f;
}
.footer-text {
  font-size: 1.2rem;
  font-weight: 400;
  color: #9f9f9f;
}
.footer-followers {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 1rem;
  margin-top: 2rem;
}
.footer-icons {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.icon-title {
  font-size: 2rem;
  font-style: italic;
  color: #9f9f9f;
}
.footer-icon {
  font-size: 3rem;
  color: #95e1d3;
}

.sub-form {
  display: inline-block;
  margin-top: 5rem;
  display: flex;
}
.sub-input {
  width: 200px;
  height: 40px;
  padding: 1.2rem;
  color: #b3b3b3;
  border: 1px solid #b3b3b3;
}
.sub-btn {
  color: #fff;
  background-color: #95e1d3;
  border: none;
  width: 200px;
  height: 40px;
  padding: 1.2rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 900;
}
.footer-h {
  color: #333;
}
.footer-instagram,
.footer-blogs {
  gap: 1rem;
}
/* last one */
.rights {
  border-top: 1px solid #9f9f9f;
  padding: 5rem;
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 5rem;
}
.rights-txt {
  color: #333;
}
.rights-by {
  color: #f38181;
}
